::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}

.search {
  width: 35%;
  height: 60px;
  margin: 100px auto;
  background: rgba(31, 30, 30, 0.938);
  border-radius: 3px;
  box-shadow: 0px 0px 15px 10px rgba(86, 124, 194, 0.911);
  background-color: #fff;

  > input {
    width: 60%;
    padding: 10px 5px;
    float: left;
    color: rgb(3, 3, 3);
    border: 0;
    height: 60px;
    font-size: 1.3em;
    background: transparent;
    border-radius: 3px 0 0 3px;

    &:focus {
      outline: 0;
      height: 60px;
      background: transparent;
    }
  }
}

#find-section {
  display: flex;
  flex-wrap: wrap;

  > .card {
    margin-left: 6em;
  }
}

button {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 60px;
  width: 20%;
  font-size: 1.2em;
  color: rgb(53, 49, 49);
  background: rgb(207, 207, 214);
  border-left: 1px solid rgb(180, 166, 166);
  border-radius: 0 3px 3px 0;

  &:hover {
    background: rgb(184, 184, 194);
    color: rgb(238, 234, 234);
    height: 60px;
  }

  &:active {
    box-shadow: 0px 0px 12px 0px rgb(105, 93, 93);
    height: 60px;
  }
}

@media (max-width: 768px) {
  .search {
    width: 65%;
    height: 60px;
    margin: 100px auto;

    > input {
      width: 70%;

      &:focus {
        outline: 0;
        height: 60px;
        background: transparent;
      }
    }
  }
  button {
    width: 30%;
  }

  #find-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .card {
      display: flex;
      justify-content: center;
      width: 90%;
      padding: 0;
      margin: 0;

      a {
        background: white;
      }
    }
  }
}
