<div id="box">

  <% if(error) { %>
    <div>
      <div class="errorContainer">
        <p>
          <%= error %>
        </p>
      </div>
    </div>
    <% } %>

      <nav>
        <a href="/">Home</a>
        <ul>
          <li><a href="/rent-house">Housing for rent</a></li>
          <% if(isAuth) { %>
            <li><a href="/create-offer">Create offer</a></li>
            <li><a href="/search-for-offer">Search</a></li>
            <li><a href="/logout">Logout</a></li>
            <% } else { %>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
              <% } %>
        </ul>
      </nav>

      <main>