<head>
  <meta charset="UTF-8">
  <!-- Do not forget to change the path to the css file -->
  <title>Home Page</title>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>